@font-face {
  font-family: "WisdomScript";
  src: url("../fonts/wisdom/WisdomScript.ttf");
}

$ws : "WisdomScript";

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/Montserrat-Regular.otf");
}

$mr : "Montserrat-Regular";

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/Montserrat-Bold.otf");
}

$mb : "Montserrat-Bold";

@font-face {
  font-family: "DroidSerif-Italic";
  src: url("../fonts/droidserif/DroidSerif-Italic.ttf");
}

$di : "DroidSerif-Italic";

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/roboto/RobotoSlab-Regular.ttf");
}

$rsr : "RobotoSlab-Regular";