$button: #fed136;
$header-logo: #ad9034;
$header-text: #fff;
$main-title: #000;
$main-text: #777;
$footer-text: #555;
$input-text: #bbb;
$twitter: #4099ff;
$facebook: #3b5998;
$pinterest: #cb2027;
$google: #d34836;