html
    head
        link(href="assets/css/style.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0")
        title Golden
    body
        .header
            .container
                .header__logo
                    p Golden
                .header__menu
                    a(href="#home") home
                    a(href="#services") services
                    a(href="#portfolio") portfolio
                    a(href="#about-us") about
                    a(href="#contact") contact
